
# COINGECKO Setup
COINGECKO_BASE_URL=
COINGECKO_API_KEY=

# BETTER AUTH
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

# DB (Neon, Supabase...)
DATABASE_URL=

# Or
# Local PostgreSQL
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# resend
RESEND_API_KEY=
